.traspararencia{
    opacity: 1.0;
    color: #5A7C66;
     text-shadow:
       1px 1px 0 #FFFFFF,
     -1px -1px 0 #FFFFFF,  
      1px -1px 0 #FFFFFF,
      -1px 1px 0 #FFFFFF,
       1px 1px 0 #FFFFFF;
}